@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}
p {
    margin: 0px;
}

span {
    display: inline-block;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

:root {
    --textPrimary: #57585a;
    --primary: #01acf1;
    --black: #000;
    --white: #fff;
    --grey: #d9d9d9;
    --danger: #fc0005;
}

.group-row {
    flex-direction: row;
}
.group-column {
    flex-direction: column;
    row-gap: 10px;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.justify-space-between {
    justify-content: space-between;
}
.flex-end {
    justify-content: flex-end;
}
.text-center {
    text-align: center;
}

.form-group {
    display: flex;
}
.form-group label {
    font-size: 14px;
    color: var(--black);
    font-weight: 700;
}
.form-group input {
    border-radius: 4px;
    outline: none;
    text-indent: 10px;
    border: 0px;
    height: 30px;
    font-size: 14px;
    padding: 0px;
    width: 100%;
}
.form-group select {
    border: 0px;
    outline: none;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--black);
}
input[type="date"] {
    text-indent: 5px;
}
.validation-error {
    font-size: 12px;
    color: red;
}

.flex-row {
    display: flex;
}

.grey-bg {
    background: var(--grey);
}
.white-bg {
    background: var(--white);
}
.grid-row {
    display: grid;
}

.template-repeat-3 {
    grid-template-columns: repeat(3, 1fr);
}
.template-repeat-2 {
    grid-template-columns: repeat(2, 1fr);
}
.template-repeat-4 {
    grid-template-columns: repeat(4, 1fr);
}
.template-repeat-5 {
    grid-template-columns: repeat(5, 1fr);
}
.col-gap-20 {
    column-gap: 20px;
}
.col-gap-10 {
    column-gap: 10px;
}
.col-gap-30 {
    column-gap: 30px;
}
.row-gap-20 {
    row-gap: 20px;
}
.row-gap-10 {
    row-gap: 10px;
}
.row-gap-30 {
    row-gap: 30px;
}
.form-wrapper {
    display: flex;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.d-none {
    display: none;
}

.primary-btn {
    background: var(--primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 0px;
    padding: 7px 15px;
    cursor: pointer;
}
.danger-btn {
    background: var(--danger);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 0px;
    padding: 3px 15px;
    cursor: pointer;
}
.remove-field-btn,
.remove-question-item-field-btn,
.remove-question-field-btn {
    background: var(--danger);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group select {
    border-radius: 4px;
    outline: none;
    text-indent: 5px;
    border: 0px;
    height: 30px;
    font-size: 14px;
    padding: 0px;
    width: 100%;
}

.form-group textarea {
    border-radius: 4px;
    outline: none;
    text-indent: 10px;
    border: 0px;
    height: 80px;
    font-size: 14px;
    padding: 0px;
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.text-red {
    font-size: 12px;
    color: var(--danger);
}

.step-form-wrapper .group-row label {
    width: 25%;
}

span.status-text.red {
    font-size: 12px;
    color: red;
    font-weight: 600;
    margin-top: 5px;
}
span.status-text.green {
    font-size: 12px;
    color: green;
    font-weight: 600;
    margin-top: 5px;
}

.success-status-btn {
    background: green;
    font-size: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.danger-status-btn {
    background: var(--danger);
    font-size: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.cv-input {
    outline: none;
    border: 1px solid #ddd;
    height: 25px;
    text-indent: 5px;
    font-size: 14px;
    border-radius: 4px;
}
.cv-textarea {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    height: 200px;
    width: 250px;
}
